/* GENERAL RESET */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* BODY */
.container {
    width: 80%;
    margin: 0 auto;
}

/* CONTENT DEBUG */
.content {
    height: 30px;
    border: 1px solid #000;
    background: 0, 0, 0, .25;
}

/* UTILITY */
.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}


.mb-20 {
    margin-bottom: 20px;
}

.pdx-16 {
    padding-left: 10px;
    padding-right: 10px;
}

/* HEADER */
header {
    width: 100%;
    background-color: purple;
}

/* MAIN */
main {
    width: 100%;
    background-color: lightgoldenrodyellow;
}

/* STRUTTURA */
.struttura {
    background-color: royalblue;

}


.testa {
    background-color: lightblue;
}

.sidebar {
    float: left;
    width: 25%;
    background-color: lightblue;
    margin-right: 1%;
}

.col1 {
    float: left;
    width: 48%;
    background-color: lightblue;
    margin-right: 10px;
    margin-left: 10px;
}

.col2 {
    float: left;
    width: 25%;
    background-color: lightblue;
    margin-left: 1%;
}